:root{
    --favourite-color: #ff0;
    --favourite-background: #a6c8ff;
    --city-list-height: 2.6rem;
    --active-list-item-background-hover: #28a74540;
    --bootstrap-light: #f8f9fa;
    --bootstrap-primary: #007bff;
    --bootstrap-success: #28a745;
    --bootstrap-success-50: #28a74588;
    --bootstrap-success-25: #28a74544;
    --bootstrap-info: #0d6efd;
    --bootstrap-info-15: #c0d7fc;
}

.list-group-item{
    height: var(--city-list-height);
}

.btn-toolbar{
    height: var(--city-list-height);
}

#city-list-toolbars{
    display: none;
    padding: 0;
}

.toolbar-one{
    flex: 0 0 40px !important;
}

.toolbar-two{
    flex: 0 0 82px !important;
}

.list-group-item-action{
    cursor: pointer;
}

.list-group-item-action:not(.active):hover{
    background-color: var(--active-list-item-background-hover) !important;
}

.custom-sml-btn{
    padding: 3px 6px;
    margin: 2px;
}

.weather-icon{
    width: 8rem;
    border: var(--bootstrap-success) 2px solid;
    background-color: var(--bootstrap-success-25);
    border-radius: 5px;
}

.hero-weather-details{
    font-size: 0.8rem;
    height: 3rem !important;
}

.custom-small-text{
    font-size: 0.8rem;
}

.five-day-weather-icon{
    width: 4rem;
    border: var(--bootstrap-info) 2px solid;
    background-color: var(--bootstrap-info-15);
    border-radius: 5px;
}

@media screen and (min-width: 280px) {
    #city-list-toolbars{
        display: block;
    }
}

@media screen and (min-width: 576px) {
    .hero-weather-details{
        font-size: 1.0rem;
        height: 2.5rem !important;
    }
    
    .custom-small-text{
        font-size: 0.9rem;
    }
}
